services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: restaurant_rating_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: